form {
    border: 3px solid #f1f1f1;
            padding: 20px;
            width: 400px;
            margin: auto;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


button {
    background: #0066A2;
    color: black;    
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.226);
    height: 50px;
    width: 100px;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    }
  
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  /*@media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }*/